const API_URL = "//transcode_wololo.wololo.fr";
const LOGIN_URL = API_URL + "/auth/";
const PROFILE_URL = API_URL + "/me/";
const REFRESH_URL = API_URL + "/refresh-jwt/";
const TOKEN_EXPIRATION  = 300;

const RECAPTCHA_PUBLIC_KEY = "XXXXXXXXXXXXXX_XXXXXXX-XXXXXXXX";

export default {
  API_URL,
  LOGIN_URL,
  PROFILE_URL,
  REFRESH_URL,
  TOKEN_EXPIRATION,
  RECAPTCHA_PUBLIC_KEY
}
