# PRIVATE KEY FOR RECAPTCHA
RECAPTCHA_PRIVATE_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

UPLOAD_DIRECTORY = ""
UPLOAD_CHUNK_SIZE = 1024

PAYPAL_ACCESS_TOKEN = "xxxxxxxxx$xxxxxxx$xxxxxxxxxxxxxxxxxxxxxxxx"
