# PRIVATE KEY FOR RECAPTCHA
RECAPTCHA_PRIVATE_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

UPLOAD_DIRECTORY = ""
UPLOAD_CHUNK_SIZE = 1024
CONVERT_PRICE_PER_MINUTE = (1 / 60)

PAYPAL_ACCESS_TOKEN = "xxxxxxxxx$xxxxxxx$xxxxxxxxxxxxxxxxxxxxxxxx"
